In [2]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [3]:
# Extract the data into a Pandas DataFrame
surface_temp_change_df = pd.read_csv("Resources/Annual_Surface_Temperature_Change.csv")
surface_temp_change_df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,"Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from: https://www.fao.org/faostat/en/#data/ET. Accessed on 2023-03-28.",ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicators, Surface Temperature Change",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,"Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from: https://www.fao.org/faostat/en/#data/ET. Accessed on 2023-03-28.",ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicators, Surface Temperature Change",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,"Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from: https://www.fao.org/faostat/en/#data/ET. Accessed on 2023-03-28.",ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicators, Surface Temperature Change",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,"Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from: https://www.fao.org/faostat/en/#data/ET. Accessed on 2023-03-28.",ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicators, Surface Temperature Change",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,"Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from: https://www.fao.org/faostat/en/#data/ET. Accessed on 2023-03-28.",ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicators, Surface Temperature Change",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [11]:
surface_temp_change_df["Indicator"
                       ].value_counts()

Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980    225
Name: Indicator, dtype: int64

In [10]:
#drop unwanted columns
surface_temp_change_df.drop(columns=["ObjectId","ISO2","ISO3","CTS_Code", "CTS_Name","CTS_Full_Descriptor", "Source"], axis=1, inplace=True)
surface_temp_change_df.head()

,Country,Indicator,Unit,F1961,F1962,F1963,F1964,F1965,F1966,F1967,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,"Afghanistan, Islamic Rep. of","Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,-0.113,-0.164,0.847,-0.764,-0.244,0.226,-0.371,...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,Albania,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,0.627,0.326,0.075,-0.166,-0.388,0.559,-0.074,...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,Algeria,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,0.164,0.114,0.077,0.250,-0.100,0.433,-0.026,...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,American Samoa,"Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,0.079,-0.042,0.169,-0.140,-0.562,0.181,-0.368,...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,"Andorra, Principality of","Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980",Degree Celsius,0.736,0.112,-0.752,0.308,-0.490,0.415,0.637,...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [13]:
surface_temp_change_df.drop(columns="Indicator", inplace=True)

In [15]:
# Remove unneeded character from the year columns
surface_temp_change_df.columns.str.replace('F', '')

Index(['Country', 'Unit', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022'],
      dtype='object')

In [16]:
# Extract the next DataFrame
atmospheric_co2_df = pd.read_csv('Resources/Atmospheric_CO%E2%82%82_Concentrations.csv')
atmospheric_co2_df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,Date,Value
0,1,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmospheric Administration (NOAA). Global Monitoring Laboratory, Trends in Atmospheric Carbon Dioxide Data (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-03-28.",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicators, Atmospheric Carbon Dioxide Concentrations",1958M03,315.70
1,2,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmospheric Administration (NOAA). Global Monitoring Laboratory, Trends in Atmospheric Carbon Dioxide Data (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-03-28.",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicators, Atmospheric Carbon Dioxide Concentrations",1958M04,317.45
2,3,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmospheric Administration (NOAA). Global Monitoring Laboratory, Trends in Atmospheric Carbon Dioxide Data (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-03-28.",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicators, Atmospheric Carbon Dioxide Concentrations",1958M05,317.51
3,4,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmospheric Administration (NOAA). Global Monitoring Laboratory, Trends in Atmospheric Carbon Dioxide Data (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-03-28.",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicators, Atmospheric Carbon Dioxide Concentrations",1958M06,317.24
4,5,World,NaN,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,"Dr. Pieter Tans, National Oceanic and Atmospheric Administration (NOAA). Global Monitoring Laboratory, Trends in Atmospheric Carbon Dioxide Data (https://gml.noaa.gov/ccgg/trends/) and Dr. Ralph Keeling, Scripps Institution of Oceanography, Carbon Dioxide Measurements (https://scrippsco2.ucsd.edu/). Accessed on 2023-03-28.",ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicators, Atmospheric Carbon Dioxide Concentrations",1958M07,315.86

In [18]:
#drop unwanted columns
atmospheric_co2_df.drop(columns=["ObjectId", "Indicator", "ISO2", "ISO3","CTS_Code", "CTS_Name","CTS_Full_Descriptor", "Source"], axis=1, inplace=True)
atmospheric_co2_df.head()

  Country               Unit     Date   Value
0   World  Parts Per Million  1958M03  315.70
1   World  Parts Per Million  1958M04  317.45
2   World  Parts Per Million  1958M05  317.51
3   World  Parts Per Million  1958M06  317.24
4   World  Parts Per Million  1958M07  315.86

In [38]:
# Remove the 'M' from the 'Date" row 
atmospheric_co2_df["Date"] = atmospheric_co2_df["Date"].map(lambda x: x.replace('M', ''))
atmospheric_co2_df.head()

  Country               Unit    Date   Value
0   World  Parts Per Million  195803  315.70
1   World  Parts Per Million  195804  317.45
2   World  Parts Per Million  195805  317.51
3   World  Parts Per Million  195806  317.24
4   World  Parts Per Million  195807  315.86

In [51]:
# Convert Date column to integer
import datetime as dt 
atmospheric_co2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1548 entries, 0 to 1547
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  1548 non-null   object
 1   Unit     1548 non-null   object
 2   Date     1548 non-null   object
 3   Value    1548 non-null   float64
dtypes: float64(1), object(3)
memory usage: 48.5+ KB

In [52]:
atmospheric_co2_df["Date"].astype(int)

0       195803
1       195804
2       195805
3       195806
4       195807
         ...
1543    202212
1544    202301
1545    202301
1546    202302
1547    202302
Name: Date, Length: 1548, dtype: int64

In [53]:
atmospheric_co2_df["Date"] = pd.to_datetime(atmospheric_co2_df["Date"], format='%Y%m')

In [54]:
atmospheric_co2_df.head()

  Country               Unit       Date   Value
0   World  Parts Per Million 1958-03-01  315.70
1   World  Parts Per Million 1958-04-01  317.45
2   World  Parts Per Million 1958-05-01  317.51
3   World  Parts Per Million 1958-06-01  317.24
4   World  Parts Per Million 1958-07-01  315.86